body {
    font-family: "Audiowide", sans-serif;
    background: #c9b5b3;
}

#title {
    text-align: center;
    margin: 1.1rem;
}

#input {
    text-align: center;
    font-size: 16px;
}

#grid {
    height: 500px;
    width: 500px;
    border: 1px solid gray;
    background: white;
}

#favcolor {
    width: 100px;
    height: 100px;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.reset {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    margin: 50px;
}

.reset button {
    width: 100px;
    height: 50px;
}